@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../public/background-macos.png);
  background-size: cover;
  background-position: center;
}

#__next {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.titlebar {
  user-select: none;
  cursor: move;
}
